h1 {
    background-color: forestgreen;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 30;
    
}

body {
    text-align: center;
    width: 550px; 
    margin: 0 auto;
}

.mb-3 {
    width: 550px; 
    display: flex;
    
}



#skill-text {
    border: 2px solid forestgreen;
}

.xbutton {
    background-color: red;
    color: white;
}

.td-button {
    width: 5%;

}

.td-text {
width: 95%;
    color: orange;
    text-align: left;
    font-weight: bold;
   
}





#addSkill {
    border: 2px solid forestgreen;
    border-radius: 0%;
    background-color: white;
    color: forestgreen;
    margin-left: 5px;
    font-weight: bold;


}

#clearskills {
    border: 2px solid forestgreen;
    border-radius: 0%;
    background-color: white;
    color: forestgreen;
    margin-left: 5px; 
    height: 40px;
    font-weight: bold;
}